attrs==21.4.0
h5py==3.11.0
iniconfig==1.1.1
packaging==25.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.2.5
pyscf==2.5.0
pytest==6.2.5
numpy==2.3.*
scipy==1.16.3
toml==0.10.2
scikit-learn==1.7.2
ase==3.26
tqdm==4.67
metatensor-core==0.1.17
cell2mol @ git+https://github.com/lcmd-epfl/cell2mol.git@40b3237
