name: Test documentation build

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

env:
  CACHE_NUMBER: 0  # increase to reset cache manually

jobs:
  build:

    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            label: linux-64
            prefix: /usr/share/miniconda3/envs/my-env

    name: ${{ matrix.label }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Miniforge
        uses: conda-incubator/setup-miniconda@v2
        with:
            miniforge-version: latest
            activate-environment: my-env

      - name: Set cache date
        run: echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

      - uses: actions/cache@v4
        with:
          path: ${{ matrix.prefix }}
          key: ${{ matrix.label }}-conda-${{ hashFiles('environment.yml') }}-${{ env.DATE }}-${{ env.CACHE_NUMBER }}
        id: cache

      - name: Update environment
        run: conda env update -n my-env -f environment.yml
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Install documentation requirements
        shell: bash -l {0}
        run: pip install -r docs/requirements.txt

      - name: Build documentation src
        shell: bash -l {0}
        run: make build-src -C docs/

      - name: Build HTML
        shell: bash -l {0}
        run: make html -C docs/

      - name: Upload artifacts
        #if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/build/html/

  deploy:
    #if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    needs: build
    runs-on: ubuntu-latest

    environment:
      name: github-pages

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy
        uses: actions/deploy-pages@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
