name: Lint with Ruff

on:
  push:
    branches:
      - master
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install Ruff
        run: pip install ruff
      - name: Run Ruff on code
        run: ruff check qstack/
      - name: Run Ruff on tests
        run: ruff check tests/
